# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
.env/

# Environment variables
.env

# ML models
ia/saved_models/

# Logs
*.log
logs/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db